* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 0.2px solid black;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

.pages a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.card-heading1 {
  font-size: 30px;
  margin-top: 30px;
  padding: 20px;
}

.card-container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin: 10px;
}

.card img {
  height: 90%;
  width: 100%;
  background: #000;
}

.card-heading2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.card-heading2 h4 {
  font-size: 20px;
  font-weight: 700px;
}

.card p {
  font-size: 20px;
}

.card h3 {
  font-size: 20px;
  color: green;
  margin-bottom: 10px;
}
.buttons {
    width: 100%;
  display: flex;
  gap: 5px;
}

.btn-1{
    height: 30px;
    width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 5px;

}

.btn-2{
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 5px;
    background-color: gray;
    color: white;
}